# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.venv/

# Editor / OS
.vscode/
.DS_Store

# Data / models (if large)
data/
models/

